body {
    background-color: lightgray;
}

#main-title {
    color: #2f3a63;
    padding: 10px;
    margin: auto;
    width: auto;
    box-sizing: border-box;
    text-align: center;
}

#odin-cooking {
    display: flex;
    align-items: center;
    height: auto;
    padding: 10px;
    margin: auto;
    width: 300px;
    color: gray;
}

ul {
    padding-left: 700px;
}

li {
    display: inline;
    width: 100px;
    height: 160px;
    padding: 18px;
    align-items: center;
}